<tr style="border-bottom: 1px solid #dcdcde;">
    <td style="padding: 10px;"><strong>{NOME-USUARIO}</strong><br>{TIPO-USUARIO}</td>
    <td style="padding: 10px;">{LOGIN-USUARIO}</td>
    <td style="padding: 10px;">{EMAIL-USUARIO}</td>
    <td style="padding: 10px;">{FUNCOES-USUARIO}</td>
    <td style="padding: 10px;"> 
        <a href="{LINK-EDICAO}" type="button" target="_blank" class="btn btn-outline-primary"><span class="dashicons dashicons-edit"></span></a> 
        <a href="{LINK-REMOCAO}" type="button" class="btn btn-outline-danger"><span class="dashicons dashicons-trash"></span></a> 
    </td>
</tr>