#############################
#  SENHAS E CHAVES - ARQUIVO .ENV
#############################

# Database passwords
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
WP_DB_USER=
WP_DB_NAME=

# WordPress Security Keys
# 🔥 GERAR EM: https://api.wordpress.org/secret-key/1.1/salt/
WP_AUTH_KEY=
WP_SECURE_AUTH_KEY=
WP_LOGGED_IN_KEY=
WP_NONCE_KEY=

# WordPress Security Salts  
# 🔥 GERAR EM: https://api.wordpress.org/secret-key/1.1/salt/
WP_AUTH_SALT=
WP_SECURE_AUTH_SALT=
WP_LOGGED_IN_SALT=
WP_NONCE_SALT=

#############################
#  DADOS DE ACESSO A API DO CORESSO
#############################

URL_API=
URL_TOKEN=

#############################
#  INSTRUÇÕES
#############################

# 1. Vá em https://api.wordpress.org/secret-key/1.1/salt/
# 2. Copie as 8 chaves/salts gerados
# 3. Cole acima substituindo 'cole-aqui...'
# 4. Mude as senhas DB_PASSWORD e MYSQL_ROOT_PASSWORD
# 5. Salve o arquivo
# 6. Execute: docker-compose up -d